.col {
    height: 350px;
    border: 1px solid grey;
    margin: 7px 0;
    margin-left: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    background-color:white;
    color: black;
    padding: 0;
}    